/* AuthPage.module.css */

.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  
  .authContent {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  .authForm {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .authButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .authMessage {
    color: #dc3545;
    margin-top: 10px;
  }
  