/* Стили для обертывающего блока */
div {
  max-width: 400px; /* Максимальная ширина блока формы */
  margin: 0 auto;   /* Центрирование блока по горизонтали */
  padding: 20px;    /* Внутренний отступ блока */
  border: 1px solid #ccc; /* Граница блока */
  border-radius: 8px;    /* Скругленные углы блока */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
}

/* Стили для формы */
h1 {
  text-align: center; /* Выравнивание заголовка по центру */
}

label {
  display: block;    /* Каждый label на новой строке */
  margin-bottom: 5px; /* Отступ снизу для label */
}

input {
  width: 100%;       /* Ширина инпутов на 100% блока */
  padding: 8px;      /* Внутренний отступ инпутов */
  margin-bottom: 10px; /* Отступ снизу для инпутов */
}

button {
  width: 100%;       /* Ширина кнопки на 100% блока */
  padding: 10px;     /* Внутренний отступ кнопки */
  background-color: #007bff; /* Цвет фона кнопки */
  color: #fff;       /* Цвет текста кнопки */
  border: none;      /* Убираем границу кнопки */
  border-radius: 5px; /* Скругленные углы кнопки */
  cursor: pointer;   /* Курсор при наведении на кнопку */
}

button:hover {
  background-color: #0056b3; /* Измененный цвет фона при наведении на кнопку */
}

p {
  margin-top: 10px; /* Отступ сверху для сообщения об ошибке/успехе */
  color: #d9534f;   /* Цвет текста для сообщения об ошибке */
}
